@font-face {
	font-family: 'Author';
	src: url('./assets/fonts/Author-Variable.woff2') format('woff2');
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Author';
	src: url('./assets/fonts/Author-VariableItalic.woff2') format('woff2');
	font-weight: 200 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Quaaykop';
	src: url('./assets/fonts/Quaaykop-vmWLZ.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Grimoire';
	src: url('./assets/fonts/Grimoire.ttf') format('truetype');
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'Pally';
	src: url('./assets/fonts/Pally-Variable.woff2') format('woff2');
		 font-weight: 400 700;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('./assets/fonts/ClashDisplay-Light.woff2') format('woff2');
		 font-weight: 300 900;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay-Variable';
	src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
		 font-weight: 200 700;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'Trash-Hand';
	src: url('./assets/fonts/TrashHand.TTF') format('truetype');
		 font-weight: 400;
		 font-display: swap;
		 font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
	list-style: none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font: inherit;
	scroll-behavior: smooth;
	overscroll-behavior: contain;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--background: #121216;
	--white: #eeeeee;
	--purple-heart-50: #edf0ff;
	--purple-heart-100: #dfe2ff;
	--purple-heart-200: #c5caff;
	--purple-heart-300: #a1a5ff;
	--purple-heart-400: #807cfd;
	--purple-heart-500: #6e5df7;
	--purple-heart-600: #5f3fec;
	--purple-heart-700: #5333d1;
	--purple-heart-800: #422ba8;
	--purple-heart-900: #3a2a85;
	--purple-heart-950: #23194d;
	--pop-background-color: #915be9;
	--pop-border-color: #5e1ec4;
	--pop-font-color: #e6e6e6;
	--pop-fontborder-color: #ceccd8;
	--metal-background-color: #080808;
	--metal-border-color: #000000;
	--metal-font-color: #d3d3d3;
	--metal-fontborder-color: #8b1818;
	--kpop-background-color: #5a2fa8;
	--kpop-font-color: #dfdfdf;
	--kpop-border-color: #080808;
	--kpop-fontborder-color: #dfdfdf;
	--dubstep-background-color: #808080;
	--dubstep-font-color: #992727;
	--dubstep-border-color: #200a0a;
	--dubstep-fontboder-color: #a8a8a8;
}

*:link,
*:visited {
    color: inherit;
}

*::-webkit-scrollbar {
	background-color: var(--background);
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--background);
	border-radius: 1ex;
	border: 2px solid var(--purple-heart-700);
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, video, canvas, audio, iframe, embed, object {
    display: block;
    height: auto;
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	font-family: 'Author', sans-serif;
	color: var(--white);
	background-color: var(--background);
	overflow: hidden;
	overflow-y: auto;
	background-position: 0px 0px;
	background-image: radial-gradient(75% 75% at 49% 102%, #5433D1 0%, #121216 100%);
}

body::after {
	content: '';
	position: absolute;
	z-index: 999;
	inset: 0;
	background: url('./assets/images/noise.png') repeat;
	opacity: 0.7;
	pointer-events: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 60px;
}

header > nav {
	display: flex;
	align-items: center;
	margin-right: 2em;
	height: 100%;
}

header > nav > a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0 0.5em;
	height: 100%;
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 1px;
}

header > nav > a:hover {
	color: var(--purple-heart-400);
}

header > nav > a:hover::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--purple-heart-400);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 1em;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 80px;
}

.hero > .hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
}

.hero > .hero__container > .title {
	font-size: 12rem;
	font-weight: 700;
	letter-spacing: 5px;
}

.hero > .hero__container > .subtitle {
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.hero > #signin {
	margin-top: 3em;
	width: 160px;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--purple-heart-400);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white);
    cursor: pointer;
	margin: 2.5em;
}

.hero > #signin:hover {
	border: unset;
	color: var(--white);
	background-color: var(--purple-heart-700);
}

.editor {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 80%;
	margin-top: 2em;
}

.mixtape > .texture {
	position: absolute;
	z-index: 999;
	inset: 0;
	pointer-events: none;
	background-repeat: repeat;
	background-position: center;
	background-size: contain;
}

.pop {
	font-size: 24px;
	font-family: 'Quaaykop';
	letter-spacing: 1px;
	background-color: var(--pop-background-color);
	color: var(--pop-font-color);
}

.pop > .texture {
	background-image: url('./assets/images/pop-texture.png');
}

.metal {
	font-size: 25px;
	font-family: 'Grimoire';
	letter-spacing: 1px;
	background-color: var(--metal-background-color);
	color: var(--metal-font-color);
}

.metal > .texture {
	background-image: url('./assets/images/metal-texture.png');
	opacity: 0.4;
}

.k_pop {
	font-size: 19px;
	font-family: 'Pally';
	font-weight: 600;
	letter-spacing: 1px;
	background-color: var(--kpop-background-color);
	color: var(--kpop-font-color);
}

.k_pop > .texture {
	background-image: url('./assets/images/k-pop-texture.png');
	opacity: 0.4;
}

.dubstep {
	font-size: 24px;
	font-family: 'Trash-Hand';
	font-weight: 400;
	letter-spacing: 1px;
	background-color: var(--dubstep-background-color);
	color: var(--dubstep-font-color);
}

.dubstep > .texture {
	background-image: url('./assets/images/dubstep-texture.png');
}

.editor > .mixtape {
	--size: 460px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: var(--size);
    aspect-ratio: 1;
}

.editor > .mixtape > .name__span-right,
.editor > .mixtape > .name__span-left {
	position: relative;
	padding: 3px;
	height: 100%;
	font-size: 9px;
}

.editor > .mixtape > .name__span-right {
	writing-mode: vertical-lr;
	text-align: end;
} 

.editor > .mixtape > .name__span-left {
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
	text-align: end;
}

.editor > .mixtape.pop > .name__span-right,
.editor > .mixtape.pop > .name__span-left {
	background-color: var(--pop-border-color);
	color: var(--pop-fontborder-color);
}

.editor > .mixtape.metal > .name__span-right,
.editor > .mixtape.metal > .name__span-left {
	font-size: 12px;
	background-color: var(--metal-border-color);
	color: var(--metal-fontborder-color);
}

.editor > .mixtape.dubstep > .name__span-right,
.editor > .mixtape.dubstep > .name__span-left {
	font-size: 13px;
	background-color: var(--dubstep-border-color);
	color: var(--dubstep-fontboder-color);
}

.editor > .mixtape.k_pop > .name__span-right::after,
.editor > .mixtape.k_pop > .name__span-left::after {
	content: '';
	position: absolute;
	z-index: 999;
	inset: 0;
	background: url('./assets/images/kpop-border-texture.png') repeat;
	opacity: 1;
	pointer-events: none;
}

.editor > .mixtape > .mixtape__content {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 18px;
    width: 100%;
    height: 100%;
    overflow: hidden;
	gap: 1em;
}

.editor > .mixtape > .mixtape__content > .mixtape__title {
	display: flex;
	width: 100%;
	font-size: 28px;
	font-weight: 600;
}

.editor > .mixtape > .mixtape__content > .metrics__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.editor > .mixtape > .mixtape__content.left > .mixtape__title {
	justify-content: flex-end;
} 

.editor > .mixtape > .mixtape__content.right > .mixtape__title {
	justify-content: flex-start;
} 

.editor > .mixtape > .mixtape__content.center > .mixtape__title {
	justify-content: center;
} 

.editor > .mixtape > .mixtape__content > .metrics__container.left {
	text-align: left;
} 

.editor > .mixtape > .mixtape__content > .metrics__container.right {
	text-align: right;
} 

.editor > .mixtape > .mixtape__content > .metrics__container.center {
	text-align: center;
} 

.editor > .mixtape > .mixtape__content > .metrics__container > span {
	width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.editor > .mixtape > .mixtape__content > .footer__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__barcode {
	height: 60px;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__barcode > svg {
	width: 100%;
	height: 100%;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__brands {
	display: flex;
	height: 27px;
	gap: 10px;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__brands > svg {
	height: 100%;
}

.editor > .mixtape > .mixtape__content > .footer__container > span {
	font-family: 'ClashDisplay-Variable';
	font-size: 10px;
	font-weight: 300;
	text-align: justify;
}

.editor > .mixtape.pop > .mixtape__content > .footer__container > span {
	font-weight: 400;
	color: black;
	letter-spacing: 0px;
}

.editor > .mixtape.dubstep > .mixtape__content > .footer__container > span {
	font-weight: 400;
	color: var(--dubstep-border-color);
	letter-spacing: 0px;
}

.editor > .mixtape.metal > .mixtape__content > .footer__container > span {
	font-weight: 400;
	letter-spacing: 0px;
}

.editor > .mixtape.k_pop > .mixtape__content > .footer__container > span {
	font-weight: 400;
	letter-spacing: 0px;
}

.editor > .editor__options {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.editor > .editor__options > h2 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.editor > .editor__options > .editor__options--container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2em;
}

.editor > .editor__options > .editor__options--container > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2em;
}

.editor > .editor__options > .editor__options--container > div > div {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.editor > .editor__options > .editor__options--container > div > div > div {
	display: flex;
	gap: 1em;
}

.editor > .editor__options > .editor__options--container > div > div > h3 { 
	font-size: 1.5rem;
	font-weight: 600;
}

.editor > .editor__options > .editor__options--container > div > div > div > button {
	padding: 0.8em;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--purple-heart-400);
	color: inherit;
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div.containerRight > .editor__options--download > button {
	padding: 0.8em;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--purple-heart-400);
	color: inherit;
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div > div > div > button:hover,
.editor > .editor__options > .editor__options--container > div > .select > .select__selected:hover,
.editor > .editor__options > .editor__options--container > div.containerRight > .editor__options--download > button:hover {
	background-color: var(--purple-heart-400);
	color: var(--white);
} 

.editor > .editor__options > .editor__options--container > div > div > div > button.selectedButton {
	background-color: var(--purple-heart-400);
} 

.editor > .editor__options > .editor__options--container > div > .select {
	--width: 120px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__selected {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0.8em;
	min-width: var(--width);
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--purple-heart-400);
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__selected > svg {
	position: absolute;
	right: 0.8em;
	width: 20px;
	transition: transform 0.2s;
}

.editor > .editor__options > .editor__options--container > div > .select.show > .select__selected > svg {
	transform: rotate(180deg);
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	top: 110%;
	min-width: var(--width);
	border: 2px solid var(--purple-heart-400);
	border-radius: 10px;
	background-color: var(--background);
	overflow: hidden;
}

.editor > .editor__options > .editor__options--container > div > .select.show > .select__options {
	display: flex;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.8em;
	width: 100%;
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt:hover,
.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt.selected {
	background-color: #222229;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt.selected  {
	cursor: default;
}

.about,
.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 75%;
    gap: 1em;
}

.about > div > h1 {
	font-weight: 900;
	margin-bottom: 1em;
}

.faq {
	margin-top: 3em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

ul > li {
    display: flex;
    flex-direction: column;
}

ul > li > h3 {
    font-size: 2rem;
    font-weight: 900;
	margin-bottom: 0.3em;
}

ul > li > p {
    opacity: 0.8;
    font-size: 1.1rem;
}

.faq > h2 {
	padding-top: 1em;
	font-weight: 900;
}

.faq > ul > li > p > a {
	color: #ab7ff1;
}

.faq li:nth-child(odd) {
	text-align: left;
	padding-right: 28em;
}

.faq li:nth-child(even) {
	text-align: right;
	padding-left: 28em ;
}

.about > div > h1,
.faq > h2 {
	text-align: center;
	font-size: 2.5rem;
}

.github__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 5em;
    width: 17em;
    border-radius: 8px;
    background-color: var(--purple-heart-950);
    transition: transform 0.2s ease;
    gap: 10px;
}

.github__button:hover {
	background-color: var(--purple-heart-600);
	transform: scale(1.03);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.137), 0 2px 4px rgba(0, 0, 0, 0.137), 0 4px 8px rgba(0, 0, 0, 0.137), 0 8px 16px rgba(0, 0, 0, 0.137), 0 16px 32px rgba(0, 0, 0, 0.137), 0 32px 64px rgba(0, 0, 0, 0.137);
}

.github__button > svg {
	width: 2.2em;
}

.github__button > .github__button--content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.1rem;
	gap: 5px;
}

.github__button > .github__button--content > span:last-child {
	font-size: 0.9rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
    font-family: 'Author', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.25rem;
    gap: 1em;
}

footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	height: 1px;
	background-color: #ffffff15;
}

.icons_links {
    display: flex;
    align-items: center;
}

.icons_links > a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7em;
}

.icons_links > a > svg {
	width: 30px;
	pointer-events: none;
}

.icons_links > a:hover > svg {
	color: var(--background);
} 