@font-face {
	font-family: 'Author';
	src: url('./assets/fonts/Author-Variable.woff2') format('woff2');
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Author';
	src: url('./assets/fonts/Author-VariableItalic.woff2') format('woff2');
	font-weight: 200 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Grimoire';
	src: url('./assets/fonts/Grimoire.ttf') format('truetype');
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'Summer-Friday';
	src: url('./assets/fonts/Summerfriday-K73eD.otf') format('opentype');
		 font-weight: 400 700;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('./assets/fonts/ClashDisplay-Light.woff2') format('woff2');
		 font-weight: 300 900;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay-Variable';
	src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
		 font-weight: 200 700;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'Trash-Hand';
	src: url('./assets/fonts/TrashHand.TTF') format('truetype');
		 font-weight: 400;
		 font-display: swap;
		 font-style: normal;
}

@font-face {
	font-family: 'Mutter-Krause';
	src: url('./assets/fonts/MutterKrause-7oMD.ttf') format('truetype');
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Tooney';
	src: url('./assets/fonts/TooneyNoodleNf-685o.ttf') format('truetype');
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Wickhop';
	src: url('./assets/fonts/WickhopHandwriting.ttf') format('truetype');
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Underground';
	src: url('./assets/fonts/Underground.ttf') format('truetype');
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Tail-Free';
	src: url('./assets/fonts/TrailFree.ttf') format('truetype');
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Death-Squad';
	src: url('./assets/fonts/DeathSquad.ttf') format('truetype');
		font-display: swap;
		font-style: normal;
}

@font-face {
	font-family: 'Qumpellkano';
	src: url('./assets/fonts/Qumpellkano.otf') format('opentype');
		font-display: swap;
		font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
	list-style: none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	font: inherit;
	scroll-behavior: smooth;
	overscroll-behavior: contain;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--background: #121216;
	--white: #eeeeee;
	--purple-heart-50: #edf0ff;
	--purple-heart-100: #dfe2ff;
	--purple-heart-200: #c5caff;
	--purple-heart-300: #a1a5ff;
	--purple-heart-400: #807cfd;
	--purple-heart-500: #6e5df7;
	--purple-heart-600: #5f3fec;
	--purple-heart-700: #5333d1;
	--purple-heart-800: #422ba8;
	--purple-heart-900: #3a2a85;
	--purple-heart-950: #23194d;
	--link-color: #5184d1 ;
	--pop-background-color: #d46bc3;
	--pop-border-color: #a263ef;
	--pop-font-color: #fdf6f6;
	--pop-fontborder-color: #ceccd8;
	--metal-background-color: #080808;
	--metal-border-color: #000000;
	--metal-font-color: #d3d3d3;
	--metal-fontborder-color: #8b1818;
	--kpop-background-color: #5a2fa8;
	--kpop-font-color: #dfdfdf;
	--kpop-border-color: #1a0e86;
	--kpop-fontborder-color: #d2c5e9;
	--dubstep-background-color: #0e1c3a;
	--dubstep-font-color: #578cff;
	--dubstep-border-color: #92aaf7;
	--dubstep-fontboder-color: #0b7191;
	--rap-background-color: #6d6c6c;
	--rap-border-color: #0e0c0c;
	--rap-font-color: #720909;
	--rap-fontborder-color: #b4abab;
}

*:link,
*:visited {
    color: inherit;
}

*::-webkit-scrollbar {
	background-color: var(--background);
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--background);
	border-radius: 1ex;
	border: 2px solid var(--purple-heart-700);
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, video, canvas, audio, iframe, embed, object {
    display: block;
    height: auto;
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	min-height: 100dvh;
	font-family: 'Author', sans-serif;
	color: var(--white);
	background-color: var(--background);
	overflow-x: hidden;
	overflow-y: auto;
	background-position: 0px 0px;
	background: linear-gradient(220.55deg, var(--purple-heart-950) 0%, var(--purple-heart-700) 100%);
}

body::after {
	content: '';
	position: absolute;
	z-index: 999;
	inset: 0;
	background: url('./assets/images/noise.png') repeat;
	opacity: 0.7;
	pointer-events: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 5vw;
}

header > nav {
	display: flex;
	align-items: center;
	margin-right: 2em;
	height: 100%;
}

header > nav > a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0 0.5em;
	height: 100%;
	color: var(--white);
	font-size: 1.5vw;
	font-weight: 600;
	letter-spacing: 1px;
}

header > nav > a:hover {
	color: var(--purple-heart-400);
}

header > nav > a:hover::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--purple-heart-400);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 1em;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 80px;
}

.hero > .hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
}

.hero > .hero__container > .title {
	font-size: 12rem;
	font-weight: 700;
	letter-spacing: 5px;
}

.hero > .hero__container > .subtitle {
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.hero > #signin {
	margin-top: 3em;
	width: 160px;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--purple-heart-400);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white);
    cursor: pointer;
	margin: 2.5em;
}

.hero > #signin:hover {
	border: unset;
	color: var(--white);
	background-color: var(--purple-heart-700);
}

.editor {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin-top: 2em;
	gap: 7em;
}

.mixtape > .texture {
	position: absolute;
	z-index: 999;
	inset: 0;
	pointer-events: none;
	background-repeat: repeat;
	background-position: center;
	background-size: contain;
}

.pop {
	font-size: 2vw;
	font-family: 'Summer-Friday';
	letter-spacing: 1px;
	background-color: var(--pop-background-color);
	color: var(--pop-font-color);
	font-weight: 200;
}

.pop > .texture {
	background-image: url('./assets/images/pop-texture.png');
}

.metal {
	font-size: 2vw;
	font-family: 'Grimoire';
	letter-spacing: 1px;
	background-color: var(--metal-background-color);
	color: var(--metal-font-color);
}

.metal > .texture {
	background-image: url('./assets/images/metal-texture.png');
	opacity: 0.4;
}

.k_pop {
	font-size: 1.84vw;
	font-family: 'Tooney';
	letter-spacing: 1px;
	background-color: var(--kpop-background-color);
	color: var(--kpop-font-color);
}

.k_pop > .texture {
	background-image: url('./assets/images/k-pop-texture.png');
	opacity: 0.4;
}

.dubstep {
	font-size: 2vw;
	font-family: 'Trash-Hand';
	font-weight: 400;
	letter-spacing: 1px;
	background-color: var(--dubstep-background-color);
	color: var(--dubstep-font-color);
}

.dubstep > .texture {
	background-image: url('./assets/images/dubstep-texture.png');
}

.rap {
	font-size: 1.5vw;
	font-family: 'Wickhop';
	letter-spacing: 1px;
	background-color: var(--rap-background-color);
	color: var(--rap-font-color);
}

.rap > .texture {
	background-image: url('./assets/images/rap-texture.png');
	opacity: 0.6;
}

.editor > .mixtape {
	--size: 33.675vw;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: var(--size);
    aspect-ratio: 1;
}

.editor > .mixtape > .name__span-right,
.editor > .mixtape > .name__span-left {
	position: relative;
	padding: 3px;
	height: 100%;
	font-size: 9px;
}

.editor > .mixtape > .name__span-right {
	writing-mode: vertical-lr;
	text-align: end;
} 

.editor > .mixtape > .name__span-left {
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
	text-align: end;
}

.editor > .mixtape.pop > .name__span-right,
.editor > .mixtape.pop > .name__span-left {
	font-size: 1vw;
	background-color: var(--pop-border-color);
	color: #dfdfdf;
}

.editor > .mixtape.metal > .name__span-right,
.editor > .mixtape.metal > .name__span-left {
	font-size: 1vw;
	letter-spacing: 2px;
	background-color: var(--metal-border-color);
	color: var(--metal-fontborder-color);
}

.editor > .mixtape.dubstep > .name__span-right,
.editor > .mixtape.dubstep > .name__span-left {
	font-size: 1vw;
	background-color: var(--dubstep-border-color);
	color: var(--dubstep-fontboder-color);
}

.editor > .mixtape.k_pop > .name__span-right,
.editor > .mixtape.k_pop > .name__span-left {
	font-size: 1vw;
	font-family: 'Trash-Hand';
	background-color: var(--kpop-border-color);
	color: var(--kpop-fontborder-color)
}

.editor > .mixtape.rap > .name__span-right,
.editor > .mixtape.rap > .name__span-left {
	font-size: 0.8vw;
	letter-spacing: 2px;
	background-color: var(--rap-border-color);
	color: var(--rap-fontborder-color);
}

.editor > .mixtape > .mixtape__content {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 18px;
    width: 100%;
    height: 100%;
    overflow: hidden;
	gap: 1em;
}

.editor > .mixtape > .mixtape__content > .mixtape__title {
	display: flex;
	width: 100%;
	font-size: 1.8vw;
	font-weight: 900;
}

.editor > .mixtape.pop > .mixtape__content > .mixtape__title {
	font-family: 'Qumpellkano';
	font-weight: 200;
	font-size: 1.5vw;
	letter-spacing: 2px;
	color: #1d20ac;
}

.editor > .mixtape.metal > .mixtape__content > .mixtape__title {
	font-family: 'Death-Squad';
	text-transform: uppercase;
	font-size: 1.6vw;
}

.editor > .mixtape.dubstep > .mixtape__content > .mixtape__title {
	text-transform: uppercase;
	font-size: 2.5vw;
}

.editor > .mixtape.rap > .mixtape__content > .mixtape__title {
	font-family: 'Underground';
	text-transform: uppercase;
	font-size: 1.8vw;
}

.editor > .mixtape > .mixtape__content > .metrics__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.editor > .mixtape > .mixtape__content.left > .mixtape__title {
	justify-content: flex-end;
} 

.editor > .mixtape > .mixtape__content.right > .mixtape__title {
	justify-content: flex-start;
} 

.editor > .mixtape > .mixtape__content.center > .mixtape__title {
	justify-content: center;
} 

.editor > .mixtape > .mixtape__content > .metrics__container.left {
	text-align: left;
} 

.editor > .mixtape > .mixtape__content > .metrics__container.right {
	text-align: right;
} 

.editor > .mixtape > .mixtape__content > .metrics__container.center {
	text-align: center;
} 

.editor > .mixtape > .mixtape__content > .metrics__container > span {
	width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.editor > .mixtape > .mixtape__content > .footer__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__left {
	display: flex;
	height: 4vw;
	gap: 0.5em;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__left > svg {
	width: 7vw;
	height: 100%;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__left > .qr > img {
	width: 4.1vw;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__brands {
	display: flex;
	height: 2.2vw;
	gap: 10px;
}

.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__brands > svg {
	height: 100%;
}

.editor > .mixtape > .mixtape__content > .footer__container > span {
	font-family: 'ClashDisplay-Variable';
	font-size: 0.78vw;
	font-weight: 300;
	text-align: justify;
}

.editor > .mixtape > .mixtape__content > .footer__container > span {
	font-weight: 400;
	letter-spacing: unset;
}

.editor > .editor__options {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.editor > .editor__options > h2 {
	font-size: 3vw;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.editor > .editor__options > .editor__options--container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2em;
}

.editor > .editor__options > .editor__options--container > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2em;
}

.editor > .editor__options > .editor__options--container > div > div {
	display: flex;
	flex-direction: column;
}

.editor > .editor__options > .editor__options--container > div > div > div {
	display: flex;
	gap: 1em;
}

.editor > .editor__options > .editor__options--container > div > div > h3 { 
	font-size: 2vw;
	font-weight: 600;
	padding-bottom: 0.8em;
}

.editor > .editor__options > .editor__options--container > div > div > div > button {
	padding: 0.8em;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--purple-heart-400);
	color: inherit;
	font-size: 1.3vw;
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div.containerRight > .editor__options--download > button {
	width: 8em;
	padding: 0.8em;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--purple-heart-400);
	color: inherit;
	font-size: 1.3vw;
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div > div > div > button:hover,
.editor > .editor__options > .editor__options--container > div > .select > .select__selected:hover,
.editor > .editor__options > .editor__options--container > div.containerRight > .editor__options--download > button:hover {
	background-color: var(--purple-heart-400);
	color: var(--white);
} 

.editor > .editor__options > .editor__options--container > div > div > div > button.selectedButton {
	background-color: var(--purple-heart-400);
} 

.editor > .editor__options > .editor__options--container > div > .select {
	--width: 10vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.3vw;
	justify-content: flex-start;
	position: relative;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__selected {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0.8em;
	min-width: var(--width);
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--purple-heart-400);
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__selected > svg {
	position: absolute;
	right: 0.8em;
	width: 20px;
	transition: transform 0.2s;
}

.editor > .editor__options > .editor__options--container > div > .select.show > .select__selected > svg {
	transform: rotate(180deg);
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	top: 110%;
	min-width: var(--width);
	border: 2px solid var(--purple-heart-400);
	border-radius: 10px;
	background-color: var(--background);
	overflow: hidden;
}

.editor > .editor__options > .editor__options--container > div > .select.show > .select__options {
	display: flex;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.8em;
	width: 100%;
	cursor: pointer;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt:hover,
.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt.selected {
	background-color: #222229;
}

.editor > .editor__options > .editor__options--container > div > .select > .select__options > .select__options--opt.selected  {
	cursor: default;
}

.about {
	margin-top: 3em;
	gap: 3em;
}

.section__about,
.section__faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 75%;
    gap: 1em;
}

.section__about > h1,
.section__faq > h2 {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
}

.section__about > p {
	opacity: .8;
}

.section__faq > ul {
    display: flex;
    flex-direction: column;
	align-items: center;
	width: 100%;
    gap: 2em;
}

.section__faq > ul > li {
    display: flex;
}

.section__faq > ul > li > div {
	display: flex;
    flex-direction: column;
	position: relative;
	max-width: 52.7%;
	gap: .5em;
}

.section__faq > ul > li > div > div {
    position: absolute;
    left: 90%;
    top: 70%;
    width: 60px;
    color: var(--white);
    rotate: 7deg;
    opacity: 0.2;
}

.section__faq > ul > li > div > div > svg {
	width: 100%;
}

.section__faq > ul > li:nth-child(even) {
	justify-content: flex-end;

	> div > div {
		right: 95%;
		left: unset;
	}
}

.section__faq > ul > li > div > h3 {
	max-width: 100%;
    font-size: 2rem;
    font-weight: 900;
}

.section__faq > ul > li > div > p {
	max-width: 100%;
    font-size: 1.1rem;
    opacity: 0.8;
}

.section__faq > ul > li > div > p > a {
	color: var(--link-color);
}

.github__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 17em;
    border-radius: 8px;
	box-shadow: none;
    background-color: var(--purple-heart-950);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    gap: 10px;
}

.github__button:hover {
	background-color: var(--purple-heart-600);
	transform: scale(1.03);
	box-shadow: 0px 7px 11px rgb(0 0 0 / 26%);
}

.github__button > svg {
	width: 2.2em;
}

.github__button > .github__button--content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.1rem;
	gap: 5px;
}

.github__button > .github__button--content > span:last-child {
	font-size: 0.9rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
	width: 80%;
    font-family: 'Author', sans-serif;
	font-size: 1.3vw;
    font-weight: 400;
    font-style: italic;
	text-align: center;
    letter-spacing: 0.25rem;
    gap: 1em;
}

footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	background-color: #ffffff15;
}

.icons_links {
    display: flex;
    align-items: center;
}

.icons_links > a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7em;
}

.icons_links > a > svg {
	width: 2vw;
	pointer-events: none;
}

.icons_links > a:hover > svg {
	color: var(--background);
}

@media (width <= 480px) {

	header > nav {
		margin-right: 1em;
		margin-top: 1em;
	}

	header > nav > a {
		font-size: 5vw;
	} 

	.hero > .hero__container > .title {
		font-size: 4rem;
	}

	.hero > .hero__container > .subtitle {
		width: 11.5em;
		font-size: 1rem;
		text-align: center;
	}

	.hero > #signin {
		font-size: 1.5rem;
		width: 5em;
	}

	.section_about {
		text-align: center;
	}

	.section__faq > ul {
		gap: 3em;
	}

	.section__faq > ul > li:nth-child(even) {
		justify-content: center;
	}

	.section__faq > ul > li {
		justify-content: center;
		width: 25em;
	}


	.section__faq > ul > li > div > h3 {
		font-size: 1.6rem;
	}

	.section__faq > ul > li > div > h3,
	.section__faq > ul > li > div > p {
		text-align: center;
		max-width: unset;
	}

	.editor {
		flex-direction: column-reverse;
		width: 90%;
		gap: 3em;
	}

	.editor > .editor__options > .editor__options--container {
		align-items: center;
		flex-direction: column;
	}

	.editor > .editor__options > .editor__options--container > .containerLeft,
	.editor > .editor__options > .editor__options--container > .containerRight,
	.editor > .editor__options > .editor__options--container > .containerLeft  > div,
	.editor > .editor__options > .editor__options--container > .containerRight > div {
		align-items: center;
	}

	.editor > .editor__options > .editor__options--container > .containerLeft > div > div > button,
	.editor > .editor__options > .editor__options--container > div > .select,
	.editor > .editor__options > .editor__options--container > div.containerRight > .editor__options--download > button {
		font-size: 4.3vw;
	}

	.editor > .editor__options > .editor__options--container > div > .select > .select__selected {
		width: 28vw;
	}

	.editor > .editor__options > .editor__options--container > .containerLeft  > div > h3,
	.editor > .editor__options > .editor__options--container > .containerRight > div > h3 {
		font-size: 6vw;
		text-align: center;
	}

	.editor > .mixtape > .mixtape__content > .metrics__container {
		justify-content: space-between;
		line-height: 19px;
	}

	.editor > .mixtape.pop > .mixtape__content > .mixtape__title,
	.editor > .mixtape.rap > .mixtape__content > .mixtape__title {
		font-size: 4.5vw;
	}

	.editor > .mixtape.metal > .mixtape__content > .mixtape__title {
		font-size: 4.5vw;
	}

	.editor > .mixtape.k_pop > .mixtape__content > .mixtape__title {
		font-size: 4.5vw;
	}

	.editor > .mixtape.dubstep > .mixtape__content > .mixtape__title {
		font-size: 5.5vw;
	}

	.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__left {
		height: 10vw;
	}

	.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__left > svg {
		width: 16vw;
	}

	.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__left > .qr > img {
		width: 10.4vw;
		height: 100%;
	}

	.editor > .mixtape > .mixtape__content > .footer__container > .icons__footer > .icons__brands {
		height: 5vw;
	}

	.editor > .editor__options > h2 {
		text-align: center;
		font-size: 10vw;
	}

	.editor > .mixtape > .mixtape__content > .footer__container > span {
		font-size: 1.75vw;	
	}

	.editor > .mixtape {
		width: 90vw;
		height: 90vw;
	}

	.rap {
		font-size: 3.6vw;
	}

	.k_pop {
		font-size: 4.4vw;
	}

	.pop, .dubstep {
		font-size: 5vw;
	}

	.metal {
		font-size: 5vw;
	}

	.editor > .mixtape.metal > div.name__span-right,
	.editor > .mixtape.metal > div.name__span-left,
	.editor > .mixtape.pop > div.name__span-right,
	.editor > .mixtape.pop > div.name__span-left {
		font-size: 3vw;
	}

	.editor > .mixtape.rap > div.name__span-right,
	.editor > .mixtape.rap > div.name__span-left,
	.editor > .mixtape.k_pop > div.name__span-right,
	.editor > .mixtape.k_pop > div.name__span-left {
		font-size: 2.5vw;
	}

	footer {
		font-size: 3.2vw;
	}

	.icons_links > a > svg {
		width: 6vw;
	}
}